* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD */
.card {
    background: #fff;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4e73df;
}

/* FORM */
form input,
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

form textarea {
    resize: none;
    height: 80px;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #4e73df;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2e59d9;
}

/* LINK */
a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #1cc88a;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* DASHBOARD */
.dashboard {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
}

.dashboard h1 {
    margin-bottom: 15px;
    color: #4e73df;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    background: #4e73df;
    color: #fff;
}

.btn-hapus {
    background: #e74a3b;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-hapus:hover {
    background: #c0392b;
}

.btn-hapus {
    background: #e74a3b;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-hapus:hover {
    background: #c0392b;
}
